# Project dependencies
pyFrotz==0.1.5
mistralai==1.9.11
graphviz==0.21
openai-agents==0.4.1

# Test dependencies
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0

# Dev dependencies
pylint==3.3.9
# ^^ last for Python 3.9
